<ion-split-pane contentId="main">
  <!--  our side menu  -->
  <ion-menu contentId="main">
    <ion-item class="profile-item">
      <div class="avatar">
        <img src="../../assets/imgs/profile-pictures/girl2.png">
      </div>
      <div class="profile_info">
        <h3>Julie</h3>
        1980 P.
      </div>
    </ion-item>

    <!-- widgets -->
    <ion-content *ngIf="!this.hide1">
      <div class="statistics">
        <ion-header>
          <h2 style="margin: 15px">Persönliche Statistik</h2>
        </ion-header>
        <canvas #lineChart style="margin: 15px"></canvas>
        <br>
        <br>
        <h3 style="margin-left: 15px">Verteilung verdienter Punke</h3>
        <canvas #pieChart  style="margin: 15px"></canvas>
      </div>
    </ion-content>

    <div class="flex-container" *ngIf="!this.hide2">
      <div class="card">
        <img src="../../assets/imgs/cooking.png" alt="Cooking" style="width:100%">
        <div class="container">
          <h4><b>Kochen</b></h4>
          <p>Bleib gesund und verdiene Punkte!</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/sport.png" alt="Sports" style="width:100%">
        <div class="container">
          <h4><b>Sport</b></h4>
          <p>Wie wäre es mit einem Workout für heute?</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/social.png" alt="Social Commitment" style="width:100%">
        <div class="container">
          <h4><b>Soziales Engagement</b></h4>
          <p>Hilf anderen und verdien dir Karma! :-)</p>
        </div>
      </div>
      <div class="card">
        <img src="../../assets/imgs/homeoffice.png" alt="Homeoffice" style="width:100%">
        <div class="container">
          <h4><b>Homeoffice</b></h4> 
          <p>Wie arbeitest du?</p>
        </div>
      </div>
    </div>

    <ion-content *ngIf="!this.hide3">
      <app-ranking></app-ranking>
    </ion-content>

    <ion-row>
      <ion-col col-4>
        <ion-card button="true" (click)="showStats()">
          <ion-card-content>
            <ion-icon name="body-outline"></ion-icon>
            Statistik
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card button="true" (click)="showSocial()">
          <ion-card-content>
            <ion-icon name="people-outline"></ion-icon>
            Sozial
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card button="true" (click)="showRanking()">
          <ion-card-content>
            <ion-icon name="stats-chart-outline"></ion-icon>
            Ranking
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main">
    <div id="chartdiv" class="map" style="position: absolute; bottom: 0%; top: 0%; width: 100%"></div>
    <ion-card class="news">
      <ion-row>
        <ion-col col-4>
          <ion-card color="success" style="color: DarkGreen">
            <ion-card-header>
              <ion-card-title #homeStay>{{homeStayNo}}</ion-card-title>
              <ion-card-subtitle>Zu Hause</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col col-4>
          <ion-card>
            <ion-card-header color="warning">
              <ion-card-title #homeOffice>{{homeOfficeNo}}</ion-card-title>
              <ion-card-subtitle>Home Office</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-title>Newsticker</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <label style="color: MediumSeaGreen">16.47</label> - In Polen findet Alkohol, der bei Razzien, beschlagnahmt wurde, in der Virus-Krise eine neue Verwendung.
      </ion-card-content>
      <ion-card-content>
        <label style="color: MediumSeaGreen">16.45</label> - Spanien baut ein Konferenzzentrum in Madrid zu einem großen Militärzarett um.
      </ion-card-content>
      <h2 style="margin-left: 15px">Heute bin ich ...</h2>
      <div style="margin-left: 15px">
        <ion-button size="default" (click)="incrementHomeStay()" color="success" [disabled]="btnDisabled">Zu Hause</ion-button>
        <ion-button size="default" (click)="incrementHomeOffice()" color="medium" [disabled]="btnDisabled">Home Office</ion-button>
      </div>
    </ion-card>
  </ion-router-outlet>

</ion-split-pane>
