<ion-split-pane contentId="main">
  <!--  our side menu  -->
  <ion-menu contentId="main">
    <ion-item class="profile-item">
      <div class="avatar">
        <img src="../../assets/imgs/snoop_dog.jpg">
      </div>
      <div class="profile_info">
        <h3>Snoop Dog</h3>
        3000 pts.
      </div>
    </ion-item>

    <!-- widgets -->
    <ion-content>
      <div class="statistics">
        <h2>Personal Statistics</h2>
        <canvas #lineChart></canvas>
        <br>
        Distribution of earned credits
        <canvas #pieChart></canvas>
      </div>
    </ion-content>

    <ion-row>
      <ion-col col-4>
        <ion-card button="true" (click)="showStats()">
          <ion-card-content>
            <ion-icon name="stats-chart-outline"></ion-icon>
            Stats
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card button="true" (click)="showSocial()">
          <ion-card-content>
            <ion-icon name="people-outline"></ion-icon>
            Social
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card button="true" (click)="showProfile()">
          <ion-card-content>
            <ion-icon name="settings-outline"></ion-icon>
            Profile
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-menu>

  <!-- the main content -->
  <div id="chartdiv" class="map"></div>
  <ion-router-outlet id="main">
    <ion-card class="news">
      <ion-row>
        <ion-col col-4>
          <ion-card>
            <ion-card-header>
              <ion-card-title>30.212</ion-card-title>
              <ion-card-subtitle>Zu Hause</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col col-4>
          <ion-card>
            <ion-card-header>
              <ion-card-title>30.212</ion-card-title>
              <ion-card-subtitle>Zu Hause</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-subtitle>News</ion-card-subtitle>
        <ion-card-title>Current stats</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        We live in a society. This app is awesome. I need to find some words to fill this test so the card view gets bigger and so on and so on blablablaabl
      </ion-card-content>
    </ion-card>
  </ion-router-outlet>

</ion-split-pane>

