.avatar img{
  border: 3px solid rgba(0, 150, 0, 0.25);
  padding: 0px;
  border-radius: 100%;
  box-sizing: content-box;
  margin: 0 auto;
  width: 90px;
  height: 90px;
  overflow: hidden;
  float: left;
  margin-left: 0px;
}

.profile_info {
  padding-left: 15px;
}

.news {
  width: 360px;
  height: 420px;
  float: right;
  margin-top: 100px;
  margin-right: 50px;
}

.map {
  position: relative;
}

