<ion-split-pane contentId="main">
  <!--  our side menu  -->
  <ion-menu contentId="main">
    <ion-item class="profile-item">
      <div class="avatar">
        <img src="../../assets/imgs/snoop_dog.jpg">
      </div>
      <div class="profile_info">
        <h3>Snoop Dog</h3>
        3000 pts.
      </div>
    </ion-item>

    <!-- widgets -->
    <ion-content>
      <div class="statistics">
        <h2>Personal Statistics</h2>
        <canvas #lineChart></canvas>
        <br>
        Distribution of earned credits
        <canvas #pieChart></canvas>
      </div>
    </ion-content>

    <ion-row>
      <ion-col col-4>
        <ion-card button="true" (click)="showStats()">
          <ion-card-content>
            <ion-icon name="stats-chart-outline"></ion-icon>
            Stats
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card button="true" (click)="showSocial()">
          <ion-card-content>
            <ion-icon name="people-outline"></ion-icon>
            Social
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col col-4>
        <ion-card button="true" (click)="showProfile()">
          <ion-card-content>
            <ion-icon name="settings-outline"></ion-icon>
            Profile
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-menu>

  <!-- the main content -->
  <div id="chartdiv" class="map"></div>
  <ion-router-outlet id="main">
    <ion-card class="news">
      <ion-row>
        <ion-col col-4>
          <ion-card color="success" style="color: DarkGreen">
            <ion-card-header>
              <ion-card-title #homeStay>{{homeStayNo}}</ion-card-title>
              <ion-card-subtitle>Zu Hause</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>

        <ion-col col-4>
          <ion-card>
            <ion-card-header color="warning">
              <ion-card-title #homeOffice>{{homeOfficeNo}}</ion-card-title>
              <ion-card-subtitle>Home Office</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
      <ion-card-header>
        <ion-card-title>Newsticker</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <label style="color: MediumSeaGreen">16.47</label> - In Polen findet Alkohol, der bei Razzien, beschlagnahmt wurde, in der Virus-Krise eine neue Verwendung.
      </ion-card-content>
      <ion-card-content>
        <label style="color: MediumSeaGreen">16.45</label> - Spanien baut ein Konferenzzentrum in Madrid zu einem großen Militärzarett um.
      </ion-card-content>
      <h2 style="margin-left: 15px">Heute bin ich ...</h2>
      <div style="margin-left: 15px">
        <ion-button size="default" (click)="incrementHomeStay()" color="success" [disabled]="btnDisabled">Zu Hause</ion-button>
        <ion-button size="default" (click)="incrementHomeOffice()" color="medium" [disabled]="btnDisabled">Home Office</ion-button>
      </div>
    </ion-card>
  </ion-router-outlet>

</ion-split-pane>

