<div class="flex-container">
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/cooking.png" alt="Cooking">
    <div class="card-body">
      <p class="card-text">Stay healthy to earn some points!</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/sport.png" alt="Sport">
    <div class="card-body">
      <p class="card-text">what about a Workout today?</p>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img class="card-img-top" src="images/social.png" alt="Social Commitment">
    <div class="card-body">
      <p class="card-text">Help people to earn points and Karma! :-)</p>
    </div>
  </div>
</div>