<ion-split-pane side="first" contentId="first">
  <!--  our side menu  -->
  <ion-menu contentId="main">
      <ion-list>
          <ion-item>
              <ion-input placeholder="Benutzername" [(ngModel)]="username"></ion-input>
          </ion-item>
          <ion-item>
              <ion-input placeholder="Kennwort" type="password" [(ngModel)]="password"></ion-input>
          </ion-item>
      </ion-list>

      <ion-button full (click)="login()">Anmelden</ion-button>
  </ion-menu>

  <!-- the main content -->
  <ion-router-outlet id="main">
  </ion-router-outlet>

</ion-split-pane>

<ion-menu-button>










