
<ion-content>
  <ion-header>
    <ion-toolbar>
      <ion-title>Ranking</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-card>
      <ion-item class="highlight">
        <ion-thumbnail  slot="start">
          <img src="../../assets/imgs/profile-pictures/girl2.png">
        </ion-thumbnail>
        <ion-label>
          <img src="../../assets/icon/crown.svg" width="20%" height="20%" />
          <h2 class="username">Du</h2>
          <p>Bayern</p>
        </ion-label>
        <ion-label slot="end" class="point-label">
          1980 P.
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-thumbnail  slot="start">
          <img src="../../assets/imgs/profile-pictures/girl1.png">
        </ion-thumbnail>
        <ion-label>
            <img src="../../assets/icon/medal.svg" width="20%" height="20%" />
          <h2 class="username">angie</h2>
          <p>Bayern</p>
        </ion-label>
        <ion-label slot="end" class="point-label">
          1802 P.
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/imgs/profile-pictures/boy.png">
        </ion-thumbnail>
        <ion-label>
            <img src="../../assets/icon/bronze.svg" width="20%" height="20%" />
          <h2 class="username">kimk</h2>
          <p>Bayern</p>
        </ion-label>
        <ion-label slot="end" class="point-label">
          1024 P.
        </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
          <ion-thumbnail  slot="start">
          <img src="../../assets/imgs/profile-pictures/man.png">
        </ion-thumbnail>
          <ion-label>
            <h3 class="username">tobias</h3>
            <p>Bayern</p>
          </ion-label>
          <ion-label slot="end" class="point-label">
            205 P.
          </ion-label>
      </ion-item>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="../../assets/imgs/profile-pictures/user.png">
        </ion-thumbnail>
        <ion-label>
          <h2 class="username">tp13</h2>
          <p>Bayern</p>
        </ion-label>
        <ion-label slot="end" class="point-label">
          8 P.
        </ion-label>
      </ion-item>
    </ion-card>
  </ion-list>

</ion-content>